@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background-light dark:bg-background-dark text-primary-light dark:text-primary-dark;
}

input {
  @apply border;
  @apply border-solid;
  @apply border-primary-light dark:border-primary-dark;
  @apply bg-background-light dark:bg-background-dark;
  @apply text-primary-light dark:text-primary-dark;
  @apply px-4;
  @apply py-2;
}

.border-hairline {
  @apply border border-primary-light dark:border-primary-dark border-opacity-50;
}

.lil-button {
  @apply inline-block;
  @apply text-sm;
  @apply text-secondary-light dark:text-secondary-dark;
  @apply rounded-md;
  @apply py-2;
  @apply mx-3;
  @apply hover:text-primary-light dark:hover:text-primary-dark;
  @apply transition-colors;
}

.lil-text {
  @apply text-sm;
  @apply text-secondary-light dark:text-secondary-dark;
}

.lil-text a {
  @apply text-primary-light dark:text-primary-dark;
  @apply underline;
}

.icon {
  @apply inline relative mr-1;
  top: -0.1em;
  width: 1.1em;
  height: 1.1em;
}

.prose {
  @apply mt-8;
  @apply text-lg;
  @apply text-secondary-light dark:text-secondary-dark;
  @apply leading-7;
}

.prose a {
  @apply text-primary-light dark:text-primary-dark;
  @apply underline;
}

.min-h-screen {
  min-height: 100vh;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.duration-700 {
  transition-duration: 700ms;
}
