@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-primary;
}

input {
  @apply border;
  @apply border-solid;
  @apply border-primary;
  @apply bg-background;
  @apply text-primary;
  @apply px-4;
  @apply py-2;
}

.border-hairline {
  @apply border border-primary border-opacity-50;
}

.lil-button {
  @apply inline-block;
  @apply text-sm;
  @apply text-secondary;
  @apply rounded-md;
  @apply py-2;
  @apply mx-3;
  @apply hover:text-primary;
  @apply transition-colors;
}

.lil-text {
  @apply text-sm;
  @apply text-secondary;
}

.lil-text a {
  @apply text-primary;
  @apply underline;
}

.icon {
  @apply inline relative mr-1;
  top: -0.1em;
  width: 1.1em;
  height: 1.1em;
}

.prose {
  @apply mt-8;
  @apply text-lg;
  @apply text-secondary;
  @apply leading-7;
}

.prose a {
  @apply text-primary;
  @apply underline;
}
